body{
    width: 20%;
    height: 20%;
    border: 40px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    outline: auto;

}
   center{
    background-origin: padding-box;
    background-color:aquamarine;
    margin: auto;
   }
